body {
  background: url('imagenes/logo1.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.contenedor-datos {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
}

.recibo-item {
  background: rgba(255, 255, 255, 0.95);
  color: black;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.recibo-item button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
}

.filtros {
  text-align: center;
  margin-bottom: 20px;
}

.filtros select {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

#total-ganancias {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

canvas {
  background-color: white;
  border-radius: 10px;
  margin: 20px 0;
}

button.volver,
button.ver-datos,
button.volver1 {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.ver-datos {
  background-color: #197740;
}

button.volver {
  background-color: #0056b3;
}

button.volver1 {
  background-color: #ad820b;
}

button.volver:hover,
button.ver-datos:hover {
  background-color: #0056b3;
}